/_cache/
/_site/
/dist/
/cabal-dev/
/.virtualenv/
/.hpc/
/.hsenv/
/.stack-work/
/.cabal-sandbox/
cabal.sandbox.config
cabal.config
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
*.prof
*.aux
*.hp
*.tix
default.nix
shell.nix
scratchpad.hs
*~
[#]*[#]
.\#*
data/
