a:link {
    text-decoration: none;
    color: #0071e6;
}

a:visited {
    text-decoration: none;
    color: #00438a;
}

a:hover {
    text-decoration: none;
    color: red;
}

a:active {
    text-decoration: none;
}

#menu, #menu li {
    background-color: #3f3f3f;
}

#menu a {
    color: #eee;
}